<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Test</h2>
    <p><%= Fruit.name %></p>

    <a href="/">Back</a>
  </body>
</html>
